/* BEGIN of CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/*--- END of CSS RESET --*/

button:hover,
           input:hover,
           select:hover {
               opacity: 0.8;
           }

button:focus {
    outline: none;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

img {
    max-width: 100%;
}

/*--- FONTS --*/
@font-face {
    font-family: 'Raleway-Regular';
    src: url('/fonts/Raleway/Raleway-Regular.eot');
    src: url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Regular.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg'),
    url('/fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('/fonts/Raleway/Raleway-Light.eot');
    src: url('/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Light.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Light.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Light.svg#Raleway-Light') format('svg'),
    url('/fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('/fonts/Raleway/Raleway-Medium.eot');
    src: url('/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Medium.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg'),
    url('/fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

/*--- main Styles --*/

/*--- Common titles --*/
.content .composite-title h1 {
    font-size: 52px;
    line-height: 62px;
    display: inline-block;
}

.content .composite-title h1 span {
    font-size: 52px;
    line-height: 62px;
    display: inline-block;
    color: #ffc907;
}

.content p.composite-title-description {
    position: relative;
    display: inline-block;
    font-family: "Raleway-Regular";
    font-size: 20px;
    line-height: 24px;
    color: #878787;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


body {
    background-color: white;
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 22px;
    color: black;
}

/*--- Main Slider --*/
#main-slider {
    position:relative;

}

.slider-wrapper {
    background-color: rgba(0,0,0, 0.65);
}

/*--- Login Form --*/
.top {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: right;
    padding: 10px 0 10px 0;
    overflow: hidden;
}

.top #login-form .input-group {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.top #login-form .input-group input:not([type="submit"]){
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: normal;
    background-color: transparent;
    height: 30px;
    width: 220px;
    margin: 0 5px 0 5px;
    padding: 7px 0 10px 7px;
    border: 1px solid #939393;
}

.top #login-form  .input-group input[type="submit"] {
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 0 5px;
    padding: 0 15px 0 15px;
    background-color: #ffc908;
    font-size: 13px;
    line-height: 36px;
    font-weight: normal;
    color: white;
    border: 0;
    height: 30px;
}

.item {
    position:relative;
    overflow: hidden;
}

.mask {
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#singleImageCarousel .owl-dots {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

#singleImageCarousel .owl-dots .owl-dot.active span {
     background-color: #ffc908;
 }

.welcome {
    color: white;
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    max-width: 860px;
    text-align: center;
}

.welcome h3 {
    display: inline-block;
    position: relative;
    font-family: "Raleway-Regular";
    font-size: 22px;
    line-height: 22px;
    padding: 13px 30px;
}

.welcome h2 {
    font-family: "Raleway-Light";
    font-size: 30px;
    line-height: 36px;
}

.welcome h1 {
    font-family: "Raleway-Light";
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 45px;
}

.decorator {
    position: absolute;
    height: 3px;
    width: 32px;
}

.decorator.pre-icon {
    left:0;
    top: 0;
}

.decorator.post-icon {
    bottom: 0;
    right: 0;
}

.decorator.pre-icon:before {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
}

.decorator.pre-icon:after {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background-color: #ffc908;
    position: absolute;
    bottom: 0;
}

.decorator.post-icon:before {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background-color: #ffc908;
    position: absolute;
    top: 0;
    right: 0;
}

.decorator.post-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 32px;
    height: 1px;
    background-color: white;
}

/*--- NAVIGATION --*/
.navbar {
    margin: 10px 0;
}
.navbar-inverse {
    background-color: white;
    border-color: white;
}

#myNavbar ul li a {
    font-size: 14px;
    line-height:17px;
    font-family: "Raleway-Medium";
    color: black;
}

#myNavbar ul li a.current {
    color: #ffc908;
}

#available-courses {
    background-image: url("/img/bitmap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 33px 0 28px 0;
}

.available-courses h2 {
    font-family: "Raleway-Regular";
    font-size: 26px;
    line-height: 34px;
    color: #ffc908;
    position: relative;
    display: inline-block;
    padding: 12px 25px;
}

/*--- Forth image carousel --*/
div#forthImageCarousel .owl-stage{

}

div#forthImageCarousel .owl-prev {
    position: absolute;
    top: 33%;
    left: 20px;
}

div#forthImageCarousel .owl-next {
    position: absolute;
    top: 33%;
    right: 20px;
}

div#forthImageCarousel .item .hover-content {
    position: absolute;
    bottom: -150px;
    left: 10px;
    right: 10px;
    background-color: #ffc908;
    color: #fff;
    padding: 25px 10px 25px 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

div#forthImageCarousel .item:hover .hover-content {
    bottom: 10px;
}

.hover-content .description {
    float: left;
}

.hover-content .icon {
    float: right;
    height: 40px;
}

.hover-content .icon .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover-content .icon img {
    vertical-align: middle;
}

.hover-content .description .title {
    display: block;
    font-family: 'Raleway-Regular';
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.item .hover-content .description .sub-title {
    display: block;
    font-family: 'Raleway-Regular';
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.view-all {
    line-height: 22px;
    color: #868686;
    padding: 30px 0 30px 0;
    border-bottom: solid 1px #eeeeee;
}

/*--- SECTION: ABOUT ---*/
#about {
    margin: 90px 0 65px 0;
}

#about .composite-title {
    margin-bottom: 5px;
}

#about .composite-title-description  {
    margin-bottom: 15px;
    padding: 12px 55px;
}

#about .composite-title-description .decorator.pre-icon:before {
    background-color: #888888;
}

#about .composite-title-description .decorator.post-icon:after {
    background-color: #888888;
}
/*--- SECTION: ACTIONS ---*/
#actions .content {
    border: 1px solid #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
}

#actions .content .img-layout {
    margin: 45px;
    text-align: center;
}

#actions .content .inner-content {
    margin: 40px 0 0 0;
}

#actions .content .inner-content h2 {
    font-family: "Raleway-Medium";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 20px;
}

#actions .content .inner-content p {
    color: #868686;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 40px;
}

#actions input#search {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

#actions .wrapper {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#actions .wrapper .img-container {
    padding: 1px;
    display: inline-block;
    margin: 20px 0 0 0;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    position: relative;
    border: 1px solid #ddd;
}

#actions .img-container i {
    display: inline-block;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 4px;
    top: 4px;
    text-align: center;
    color: #000;
    -webkit-transition: all 0.3s cubic-bezier(0.13, 0.71, 0.32, 0.94) 0s;
    transition: all 0.3s cubic-bezier(0.13, 0.71, 0.32, 0.94) 0s;
}

#actions .img-container i:hover {
    background-color: #ffd400;
    color: #fff;
}
#actions .img-container i:hover:before {
    -webkit-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
}

#actions .img-container i:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: auto;
    left: 0;
    right: 0;
}

#actions form .input-group {
    display: block;
    position: relative;
    overflow: hidden;
}

form#searching {
    margin-bottom: 35px;
}


#actions form .input-group input[type='submit'] {
    float: left;
    display: inline-block;
    padding: 6px 15px 5px 15px;
    background-color: black;
    color: white;
    font-family: "Raleway-Medium";
    font-size: 16px;
    line-height: 22px;
    border: none;
}

#actions form .input-group a.advanced {
    float: right;
    display: inline-block;
    margin: 11px 0 0 0;
    font-family: "Raleway-Medium";
    font-size: 15px;
    line-height: 22px;
    color: black;
}

/*--- SECTION: AIM --*/
#aim {
    margin-top: 105px;
    margin-bottom: 75px;
}

#aim .tab {
    margin-bottom: 20px;
}
#aim .content .tab button {
    font-family: "Raleway-Medium";
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    border: none;
    background-color: transparent;
    border-right: 1px solid #dddddd;;
    padding: 1px 10px 1px 6px;
}

#aim .content .tab button:first-child {
    padding-left: 0;
}

#aim .content .tab button:last-child {
    border-right: none;
}

/*--- tab content --*/
#aim .content .tabcontent p {
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 22px;
    margin: 25px 0;
    color: #888888;
}

.tab .link-active {
    color: #ffc908;
}

.tabcontent.content-hidden {
    display: none;
}

.tabcontent.content-active {
    display: block;
}

button.read-more {
    background-color: #ffc908;
    border: none;
    font-family: "Raleway-Medium";
    line-height: 17px;
    color: white;
    margin-top: 10px;
    padding: 15px 25px;
}

/*--- SECTION: feedbacks --*/
#feedbacks {
    background-color: #f0f0f0;
    padding: 45px 0 0 0;
}
#feedbacks .content .title {
    font-family: "Raleway-Regular";
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    padding: 0 0 5px 0;
}

#feedbacks .content .title .decorator.post-icon {
    margin: 0 -15px 0 0;
}

#feedbacks .content .title .decorator.post-icon:after {
    background-color: #888888;
}

#feedbacks .content .feedback {
    margin:0 0 65px 0;
}

#feedback-carousel .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -60px;
}

#feedback-carousel .owl-dots .owl-dot.active span {
    background-color: #ffc908;
}

#feedbacks .content .feedback .feedback-text {
    background-color: white;
    font-family: "Raleway-Regular";
    line-height: 22px;
    color: #878787;
    padding: 32px 45px 35px 45px;
    text-align: center;
}

#feedbacks .content .feedback .bottom-decoration {
    position: relative;
    margin: 0 0 0 40px;
}

#feedbacks .content .feedback .bottom-decoration img {
    height: 12px;
    width: 22px;
}

#feedbacks .content .feedback .author {
    overflow: hidden;
    padding: 20px 2px 0 20px;
}

#feedbacks .content .feedback .author .image {
    float: left;
}

#feedbacks .content .feedback .author .details {
    float: left;
    margin: auto;
    padding: 20px 0 0 15px;
    text-align: left;
}

#feedbacks .content .feedback .author .details h3 {
    font-family: "Raleway-Medium";
    font-size: 16px;
    line-height: 22px;
}

#feedbacks .content .feedback .author .details p {
    font-family: "Raleway-Regular";
    font-size: 12px;
    line-height: 17px;
    color: #878787;
}

#feedbacks .content .feedback .author .rating {
    float: right;
    padding-top: 40px;
}

#feedbacks .content .feedback .author .rating .star-yellow {
    background: url("img/star-yellow.png") no-repeat;
    background-size: cover;
    height: 15px;
    width: 16px;
    display: inline-block;
}

#feedbacks .content .feedback .author .rating .star-grey {
    background: url("img/star-grey.png") no-repeat;
    background-size: cover;
    height: 15px;
    width: 16px;
    display: inline-block;
}

#feedbacks .navigation-layout {
    height: 90px;
    background-color: #494949;
}

/*--- SECTION: categories --*/
#categories {
    padding: 100px 0 0 0;
    overflow: hidden;
}

#categories .content {
    padding: 0 0 70px 0;
}
#categories .content .composite-title {
    margin-bottom: 5px;
}

#categories .content .composite-title-description {
    position: relative;
    padding: 12px 25px;
}

#categories .content .composite-title-description .decorator.pre-icon:before {
    background-color: #888888;
}

#categories .content .composite-title-description .decorator.post-icon:after {
    background-color: #888888;
}

.gallery-wrappper {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
}

.gallery-wrappper .custom-row {
    display: block;
    oveflow:hidden
}

.gallery-wrappper .custom-row .custom-col {
    width: 25%;
    float: left;
    position: relative;
    display: inline-block;
}

.gallery-wrappper .custom-row .custom-col .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery-wrappper .custom-row .custom-col .item .hover-content {
    position: absolute;
    bottom: -100px;
    left: 10px;
    right: 10px;
    background-color: #ffc908;
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.gallery-wrappper .custom-row .custom-col .item:hover .hover-content {
    bottom: 10px;
}

.gallery-wrappper .custom-row .custom-col .item > img {
    display: block;
}

/*--- SECTION: upcoming --*/
#upcoming {
    padding: 105px 0 140px 0;
}

#upcoming .content h2.title {
    position: relative;
    display: inline-block;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    padding: 15px 145px;
}

#upcoming .content h2.title .decorator.pre-icon:before {
    background-color: #888888;
}

#upcoming .content h2.title .decorator.post-icon:after {
    background-color: #888888;
}

#upcoming .content .row .content {
    padding: 60px 0 0 0;
}

#upcoming .content .row .content .image {
    width: 100%;
    overflow: hidden;
}

#upcoming .content .row .content .image img {
    float: right;
}

#upcoming .content .row .content .description {
    padding: 0 0 0 25px;
    color: #868686;
}

#upcoming .content .row .content .description p {
    color: #868686;
}

#upcoming .content .row .content .description p:not(:first-child) {
    color: #868686;
    margin-top: 25px;
}

#upcoming .content .row .content .description button.read-more {
    background-color: #ffc908;
    border: none;
    font-family: "Raleway-Medium";
    line-height: 17px;
    color: white;
    margin-top: 45px;
    padding: 15px 35px;
}

/*--- SECTION: customers --*/
#customers {
    background-color: #ffc608;
    padding: 30px 0 30px 0;
}
#customers .content ul {
    text-align: center;
    list-style: none;
}

#customers .content ul li {
    display: inline-block;
    margin: 0 50px 0 50px;
}

/*--- SECTION: extra-information --*/
#extra-information {
    padding: 105px 0 60px 0;
}

#extra-information .content .composite-title h1 {
    margin: 0 0 15px 0;
}

#extra-information .content .composite-title-description {
    position: relative;
    padding: 10px 28px;
}

#extra-information .content .composite-title-description .decorator.pre-icon:before {
    background-color: #888888;
}

#extra-information .content .composite-title-description .decorator.post-icon:after {
    background-color: #888888;
}

/*--- SECTION: map --*/
#map-wrapper {
    height: 450px;
    max-width: 1600px;
    margin: auto;
}

/*--- SECTION: contacts --*/
#contacts {
    padding: 40px 0 40px 0;
}

#contacts .content .item {
    text-align: center;
    border-top: 1px solid #eeeeee;
}

#contacts .content .item .icon-layout {
    padding: 55px 0 30px 0;
}

#contacts .content .item .icon-layout i:before{
    font-size: 40px;
    line-height: 48px;
    color: #bbbbbb;
}

#contacts .content .item .icon-info p {
    font-family: 'Raleway-Regular';
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

#contacts .content .item .icon-info p a {
    color: #000000;
}

#contacts .content .title-wraper {
    clear: both;
}
#contacts .content .title-wraper .title {
    position: relative;
    display: inline-block;
    font-family: 'Raleway-Regular';
    font-size: 34px;
    line-height: 41px;

}

#contacts .content .title-wraper .title .decorator.pre-icon:before {
    background-color: white;
}

#contacts .content .title-wraper .title .decorator.pre-icon:after {
    background-color: white;
}

#contacts .content .title-wraper .title .decorator.post-icon:after {
    background-color: #888888;
}